body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.72;
  color: #696969;
  background: #fff;
  overflow-x: hidden;
}
/* Custom lightbox styling */

@media (min-width: 1530px) {
  .container {
    max-width: 1500px;
  }
}

.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, 0.9);
}

.fancybox__toolbar {
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
}

.fancybox__nav {
  --f-button-width: 40px;
  --f-button-height: 40px;
}
.main_img {
  width: 100%;
  min-width: 100%;
}

.fancybox__thumbs .carousel__slide {
  padding: 8px;
}
@media (min-width: 1200px) {
  .feathure {
    margin-right: 30px;
  }
}

.pricing {
  font-size: 24px;
  color: #0d263b;
  font-family: sans-serif;
  font-weight: 600;
}
.badge {
  background-color: gray;
}
.breadcrumb > .active {
  color: #0d263b;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #696969;
}
.property-title {
  font-size: 24px;
  font-family: sans-serif;
  color: #0d263b;
  font-weight: 600;
  line-height: 1.4;
}
@media (min-width: 1200px) {
  .breadcrumb {
    margin-bottom: 0;
    padding: 35px 0 !important;
  }
}
.see-more {
  text-decoration: none;
}
